li {
  display: flex;
  border: solid 1px #2b2b2b;
  margin-bottom: 10px;
  list-style-type: none;
}

li > p {
  margin-right: 10px;
}

li > button {
  margin-right: 10px;
}

.delete{
  border: none;
  margin: 0px;
}

.hide {
  display: none;
}